.page-body {
  margin-left: 20%;
  height: 80%;
  margin-right: 10%;
}

#home-page-title {
  font-size: 50px;
  border-bottom: solid red 2px;
}

.page-head {
  font-family: Righteous;
  margin-left: 20px;
  margin-right: auto;
  margin-top: 0;
  display: inline-block;
  color: #f1f1f1;
}

#title-favicon {
  margin-top: 5px;
  max-width: 30px;
  display: inline-inline;
  float: left;
}

#header {
  padding-top: 25px;
  overflow: hidden;
  display: block;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-right: auto;
  background-color: #524c4c;
}

#navigation {
  float: left;
  width: 15%;
  height: 80%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  background-color: #f1f1f1;
}

.menu-item {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 30px;
  margin: 10px;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.active {
  color: white;
  background-color: #209cee;
}

.menu-item:hover:not(.active) {
  background-color: #209cee;
}

.copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media (max-width: 600px) {
  #navigation {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .page-head {
    font-family: Righteous;
    margin-left: 5px;
    margin-right: auto;
    display: inline;
    font-size: 20px;
  }

  #title-favicon {
    margin-top: 3px;
    max-width: 20px;
    display: inline;
    float: left;
  }

  .page-body {
    margin-left: 5%;
    padding-top: 30%;
  }

  #home-page-title {
    font-size: 35px;
  }
}

@media (max-width: 450px) {
  .page-body {
    margin-left: 5%;
    padding-top: 40%;
  }
  #home-page-title {
    font-size: 25px;
  }
}

@media (max-width: 320px) {
  .page-body {
    margin-left: 0;
    padding-top: 40%;
  }

  #home-page-title {
    font-size: 20px;
  }
}
